#aboutBox {
    background-color: rgba(255, 230, 230, 0.2);
    border-radius: 10%;
    border-color: white;
    padding: 5px 25px 5px 25px;
    margin: 10px 20px 10px 20px;
    max-width: 230px;
  }

aside img {
  position: absolute;
  top: 60px;
  left: -20px;
  width: 130px;
}

@media screen and (max-width:640px) {
  aside img {
    top: auto;
    left: auto;
    width: 100px;
    margin: -40px 0 0 -50px;
    z-index: 999;
  }
  #aboutBox {
      margin: auto;
      padding: auto;
      max-width: 220px;
  }
} 