.credits {
    display: flex;
    flex-direction: column;
    margin: 40px;
    color: lightgray;
    font-weight: 200;
    font-size: small;
  }

.credits>p>a {
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
  }